{__NOLAYOUT__}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<script>
	alert('<?php echo(strip_tags($msg));?>');
	location.href='<?php echo($url);?>';
</script>