 {include file="public/common" /}
 <table class="layui-table">
        <thead>

        <tr>
            <th >acasc</th>
            <th >scascas</th>
            <th >asc</th>
            <th >ascasc</th>
            <th >scasc</th>
            <th >scasc</th>
            <th >scasc</th>
            <th >scasc</th>
            <th >scasc</th>
        </tr>
        </thead>
        <tbody>
		<tr class="">
            <td >scasc</td>
            <td >000044</td>
            <td >scasc</td>
            <td >scasc</td>
            <td >0.00</td>
            <td >123323244</td>
            <td >scasc </td>
            <td >2017-10-19 10:34:19</td>
            <td >
                <a href="javascript:model('/admin')" class="layui-btn layui-btn-small">清算入账</a> 
                <!--<a href="#" class="layui-btn layui-btn-small">详情</a>-->
                <!--<a href="#" class="layui-btn layui-btn-small">编辑</a>-->
            </td>
        </tr>
      
                </tbody>
    </table>