{include file="admin@public/common" /}

<?php
            $user_name = function($user){
                         return isset($user->givenname)?$user->givenname:'';
            }
?>

<table class="layui-table">
    <thead>
    <tr>
        <th >id</th>
        <th >value</th>
        <th >user</th>
        <th >memo</th>
        <th >is_pay</th>
        <th >created_at</th>
    </tr>
    </thead>
    <tbody>
    {volist name="payment_list" id="payment"}
    <tr class="">
        <td >{$payment.id}</td>
        <td >交易金额  ￥{$payment.value}</td>
        <td > {:user_info($payment.user_id,$user_name) } </td>
        <td >{$payment.memo}</td>
        <td >{$payment.is_pay?'已支付':'待支付'}</td>
        <td >{$payment.created_at}</td>

    </tr>
    {/volist}
    </tbody>
</table>