{include file="admin@public/common" /}

<?php
            $user_name = function($user){
                         return isset($user->givenname)?$user->givenname:'';
            };
            $examine = function($code){
                 if( $code == 100)   return '未通过';
                 if( $code == 111 ) return '审核通过';
                  return '审核中';
            };
?>




<table class="layui-table">
    <thead>
    <tr>
        <th >id</th>
        <th >with_draw</th>
        <th >user</th>
        <th >memo</th>
        <th >is_pay</th>
        <th >created_at</th>
        <th > </th>
    </tr>
    </thead>
    <tbody>
    {volist name="withdraw_list" id="payment"}
    <tr class="">
        <td >{$payment.id}</td>
        <td > 取款金额是  ￥{$payment.with_draw}</td>
        <td > {:user_info($payment.user_id,$user_name) } </td>
        <td >{$payment.memo}</td>
        <td >{$examine($payment.is_pay)}</td>
        <td >{$payment.created_at}</td>
        <td >
            <a href="/addons/execute/payment-Payment-examine_success?p_id={$payment.id}" class="layui-btn layui-btn-small layui-btn-warm">通过</a>
            <a href="/addons/execute/payment-Payment-examine_fail?p_id={$payment.id}" class="layui-btn layui-btn-small layui-btn-warm">拒绝</a>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>