{include file="public/common" /}
<table class="layui-table">
    <thead>
    <tr>
        <th >givenname</th>
        <th >email</th>
        <th >surname</th>
        <th >handle</th>
    </tr>
    </thead>
    <tbody>
    {volist name="user_list" id="user"}

    <tr class="">
        <td >{$user.givenname}
        {if condition="111 == $user->access"}
            <button class="layui-btn layui-btn-normal layui-btn-radius">管理员</button>
        {/if}
        </td>
        <td >{$user.email}</td>
        <td >{$user.surname}</td>
        <td >

            {if condition="$user.password"}

            <a href="javascript:model('/addons/execute/message-Msg-chat?to_id={$user.id}')" class="layui-btn layui-btn-small layui-btn-normal">chat</a>


            <a href="/addons/execute/manage-User-close_user?uid={$user.id}" class="layui-btn layui-btn-small layui-btn-danger">关闭用户</a>
            <a href="/addons/execute/manage-User-close_user_expos?uid={$user.id}" class="layui-btn layui-btn-small layui-btn-warm">关闭用户展览</a>
                {if condition="111 != $user->access"}
                <a href="/addons/execute/manage-User-set_user_manage?uid={$user.id}" class="layui-btn layui-btn-small">设为管理员</a>
                {else}
                 <a href="/addons/execute/manage-User-cancel_user_manage?uid={$user.id}" class="layui-btn layui-btn-small layui-btn-danger">取消管理员权限</a>
                {/if}
            {else}
            <a href="/addons/execute/manage-User-reset_user?uid={$user.id}" class="layui-btn layui-btn-small layui-btn-warm">重置用户</a>
            {/if}
        </td>
    </tr>

    {/volist}
    </tbody>
</table>