{include file="public/common" /}
<table class="layui-table">
    <thead>

    <tr>
        <th >image</th>
        <th >href</th>
        <th >info</th>
        <th >handle</th>
    </tr>
    </thead>
    <tbody>
    <tr class="">
        <td ><img src="https://pgdt.gtimg.cn/gdt/0/DAAUzfeABLABLAAFBZv3MRDzXE0yk3.jpg/0?ck=6963bfdb28ec88c256d2d29d7d459e07"
                  onclick="model('/admin/exposition/show_image?src=https://pgdt.gtimg.cn/gdt/0/DAAUzfeABLABLAAFBZv3MRDzXE0yk3.jpg')"/>
        </td>
        <td >http://</td>
        <td >infomation</td>
        <td >
            <a href="javascript:model('/admin')" class="layui-btn layui-btn-small">编辑</a>
        </td>
    </tr>

    </tbody>
</table>