{include file="admin@public/common" /}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>chat</title>
    <style>
        *, *:before, *:after {
            box-sizing: border-box;
        }
        body, html {
            height: 100%;
            overflow: hidden;
        }
        body, ul {
            margin: 0;
            padding: 0;
        }
        body {
            padding:0px!important;
            color: #4d4d4d;
            font: 14px/1.4em 'Helvetica Neue', Helvetica, 'Microsoft Yahei', Arial, sans-serif;
            background: #aaa;
            background-size: cover;
            font-smoothing: antialiased;
        }
        ul {
            list-style: none;
        }
        #chat {
            margin: 0px auto;
            width: 100%;
            height: 100%;
        }
    </style>
    <style type="text/css">
        #chat{overflow:hidden;border-radius:3px}
        #chat .sidebar{height:100%}
        #chat > .main{height:100%}
        #chat li .main{min-height:32px}
        #chat .sidebar{float:left;width:200px;color:#f4f4f4;background-color:#2e3238}
        #chat .main{position:relative;overflow:hidden;background-color:#eee}
        #chat .m-text{position:absolute;width:100%;bottom:0;left:0}
        #chat .m-message{height:calc(100% - 10pc)}
    </style>
    <style type="text/css">
        .m-card{padding:9pt;border-bottom:1px solid #24272c}
        .m-card footer{margin-top:10px}
        .m-card .avatar,.m-card .name{vertical-align:middle}
        .m-card .avatar{border-radius:2px}
        .m-card .name{display:inline-block;margin:0 0 0 15px;font-size:1pc}
        .m-card .search{padding:0 10px;width:100%;font-size:9pt;color:#fff;height:30px;line-height:30px;border:1px solid #3a3a3a;border-radius:4px;outline:0;background-color:#26292e}</style>
    <style type="text/css">.m-list li{padding:9pt 15px;border-bottom:1px solid #292c33;cursor:pointer;-webkit-transition:background-color .1s;transition:background-color .1s}.m-list li:hover{background-color:hsla(0,0%,100%,.03)}.m-list li.active{background-color:hsla(0,0%,100%,.1)}.m-list .avatar,.m-list .name{vertical-align:middle}.m-list .avatar{border-radius:2px}.m-list .name{display:inline-block;margin:0 0 0 15px}</style>
    <style type="text/css">.m-text{height:10pc;border-top:1px solid #ddd}.m-text textarea{padding:10px;height:100%;width:100%;border:none;outline:0;font-family:Micrsofot Yahei;resize:none}</style>
    <style type="text/css">.m-message{padding:10px 15px;overflow-y:scroll}.m-message li{margin-bottom:15px}.m-message .time{margin:7px 0;text-align:center}.m-message .time>span{display:inline-block;padding:0 18px;font-size:9pt;color:#fff;border-radius:2px;background-color:#dcdcdc}.m-message .avatar{float:left;margin:0 10px 0 0;border-radius:3px}.m-message .text{display:inline-block;position:relative;padding:0 10px;max-width:calc(100% - 40px);min-height:30px;line-height:2.5;font-size:9pt;text-align:left;word-break:break-all;background-color:#fafafa;border-radius:4px}.m-message .text:before{content:" ";position:absolute;top:9px;right:100%;border:6px solid transparent;border-right-color:#fafafa}
    .m-message .self{text-align:right}
    .m-message .self .avatar{float:right;margin:0 0 0 10px}.m-message .self .text{background-color:#b2e281}.m-message .self .text:before{right:inherit;left:100%;border-right-color:transparent;border-left-color:#b2e281}
    </style>
<body>

<?php
            $user_name = function($user){
             return isset($user->givenname)?$user->givenname:'';
}
?>

<div id="chat"><div class="main" style="height:500px;">
    <iframe style="height:100%;width:100%;border:0;" id="myframe" src="/addons/execute/message-Msg-chat_msg?to_id={:input('to_id')}"></iframe>

    <div class="m-text"><textarea placeholder="按 Ctrl + Enter 发送" id="content" onkeydown="keySend(event);"></textarea></div>

    <!--v-component--></div></div>


<script>
    function keySend(event) {
        if (event.ctrlKey && event.keyCode == 13) {
            var url = '/addons/execute/message-Msg-send?to_id={$to_id}&msg='+$("#content").val();
            $.get(url,function(){
                $("#content").val('');
                refresh();
            });
        }
    }
    var i_id ;
    function refresh(){
        document.getElementById('myframe').contentWindow.location.reload(true);
    }
    function init_fresh(){
        clearInterval(i_id);
        i_id = setInterval(function(){
           refresh();
        },1000*15);
    }


    $("#content").click(function(){
        init_fresh();//打字不显示
    });
    $("body").mouseover(function(){
        init_fresh();
    });

    init_fresh();

</script>

</body></html>