{include file="admin@public/common" /}
<?php
            $user_name = function($user){
             return isset($user->givenname)?$user->givenname:'';
            }
?>
<blockquote class="layui-elem-quote layui-quote-nm">
    <a >/ * 我的消息 * /</a>
</blockquote>
<table class="layui-table">
    <thead>
    <tr>
        <th>id</th>
        <th>msg</th>
        <th>from</th>
        <th>to</th>
        <th>updated_at</th>
        <th>handle</th>
    </tr>
    </thead>
    <tbody>
    {volist name="msg_list" id="msg"}
    <tr class="">
        <td>{$msg.id}</td>
        <td>{$msg.msg}</td>
        <td>
            {:user_info($msg.from_user_id,$user_name) }
        </td>
        <td>
            {:user_info($msg.to_user_id,$user_name) }
        </td>
        <td>{$msg.updated_at}</td>
        <td>
            <a href="javascript:model('/addons/execute/message-Msg-chat?to_id={$msg.from_user_id}')" class="layui-btn layui-btn-small layui-btn-warm">chat</a>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>

{$msg_list->render()}