 {include file="public/common" /}
 <blockquote class="layui-elem-quote layui-quote-nm">
     <a href="javascript:model('/admin/exposition/edit_banner')" class="layui-btn layui-btn-small layui-bg-blue">新增banner</a>
     <a href="javascript:model('/admin/exposition/edit_banner_cate')" class="layui-btn layui-btn-small layui-bg-blue">新增banner位置</a>
 </blockquote>
 <div class="layui-tab">
     <ul class="layui-tab-title">
         <li class="layui-this">banner列表</li>
         <li>banner位置</li>
     </ul>
     <div class="layui-tab-content">
         <div class="layui-tab-item layui-show">
             <!---分类--->

             <blockquote class="layui-elem-quote">
                 <a href="?cate_id=0" class="layui-btn layui-btn-small layui-btn-danger">all</a>
                 {volist name="banner_cate_list" id="banner_cate"}
                 <a href="?cate_id={$banner_cate.id}"
                    class="layui-btn layui-btn-small {if condition='$banner_cate->id == input("cate_id")'}layui-btn-warm{/if} "
                 >{$banner_cate.title}</a>
                 {/volist}
             </blockquote>

             <table class="layui-table">
                 <thead>
                 <tr>
                     <th >id</th>
                     <th >image</th>
                     <th >desc</th>
                     <th >url</th>
                     <th >title</th>
                     <th >handle</th>
                 </tr>
                 </thead>
                 <tbody>
                 {volist name="banner_list" id="banner"}
                 <tr class="">
                     <td >
                         {$banner.id}
                     </td>
                     <td >
                         <img src="{$banner.image}" style="height: 80px;width:auto;"  onerror="preview_load(this)">
                     </td>
                     <td >{$banner.desc}</td>
                     <td >{$banner.url}</td>
                     <td >{$banner.title}</td>
                     <td >
                         <a href="javascript:model('/admin/exposition/edit_banner?id={$banner.id}')" class="layui-btn layui-btn-small">编辑</a>
                         <a href="javascript:del_banner('{$banner.id}')" class="layui-btn layui-btn-small layui-btn-danger">删除</a>
                     </td>
                 </tr>
                {/volist}
                 </tbody>
             </table>
         </div>
         <div class="layui-tab-item">

             <table class="layui-table">
                 <thead>

                 <tr>
                     <th >id</th>
                     <th >title</th>
                     <th >code</th>
                     <th >handle</th>
                 </tr>
                 </thead>
                 <tbody>
                 {volist name="banner_cate_list" id="banner_cate"}
                 <tr class="">
                     <td >
                         {$banner_cate.id}
                     </td>
                     <td >{$banner_cate.title}</td>
                     <td >{$banner_cate.code}</td>
                     <td >
                         <a href="javascript:model('/admin/exposition/edit_banner_cate?id={$banner_cate.id}')" class="layui-btn layui-btn-small">编辑</a>
                         <a href="javascript:del_banner_cate('{$banner_cate.id}')" class="layui-btn layui-btn-small">删除</a>
                     </td>
                 </tr>
                 {/volist}

                 </tbody>
             </table>
         </div>
     </div>
 </div>

 <script>
     function del_banner(id){
         if(confirm("确认删除")){
             location.href="/admin/exposition/edit_banner?id="+id+"&delete=1";
         }
     }
     function del_banner_cate(id){
         if(confirm("确认删除")){
             location.href="/admin/exposition/edit_banner_cate?id="+id+"&delete=1";
         }
     }
     </script>