{include file="public/common" /}


<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend> 编辑banner position </legend>
</fieldset>



<form class="layui-form" action="">
    <input type="hidden" name="id"   value="{:input('id')}">
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>

        <div class="layui-input-block">
            <input type="text" name="title" autocomplete="off" value="{:isset($banner_cate.title)?$banner_cate.title:''}" placeholder="请输入标题"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">code</label>

        <div class="layui-input-block">
            <input type="text" name="code" autocomplete="off" value="{:isset($banner_cate.code)?$banner_cate.code:''}" placeholder="请输入code"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn"  name="submit" value="1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>
