 {include file="public/common" /}


 <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
     <legend>
         <a href="/admin/exposition/{$expos.type}"> {$expos.type} </a>
         /
         {$expos.title}
     </legend>
 </fieldset>


 <a href="javascript:model('/admin/exposition/edit_expos_detail?expos_id={$expos.id}')" class="layui-btn layui-btn-small">新增</a>
 <table class="layui-table">
        <thead>
        <tr>
            <th >title</th>
            <th >image</th>
            <th >abstract</th>
            <th >handle</th>
        </tr>
        </thead>
        <tbody>
        {volist name="expos_details" id="detail"}
		<tr class="">
            <th >{$detail.title}</th>
            <th >  <img src="{$detail.image}"  onerror="preview_load(this)" style="height: 80px;width:auto;"> </th>
            <th >{$detail.abstract}</th>
            <td >
                <a href="javascript:model('/admin/exposition/edit_expos_detail?expos_id={$expos.id}&id={$detail.id}')" class="layui-btn layui-btn-small">编辑</a>
                <a href="/admin/exposition/edit_expos_items?id={$detail.id}" class="layui-btn layui-btn-small  layui-btn-warm ">管理图片</a>
                <a href="javascript:if(confirm('确认删除')){location.href='/admin/exposition/edit_expos_detail?expos_id={$expos.id}&delete=1&id={$detail.id}'}"
                   class="layui-btn layui-btn-danger layui-btn-small">删除</a>
            </td>
        </tr>
        {/volist}
      
                </tbody>
    </table>
