{include file="public/common" /}


<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend> 图片</legend>
</fieldset>

<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">title</label>

        <div class="layui-input-block">
            <input type="hidden" name="id" value="{:isset($expoitem.id)?$expoitem.id:''}">
            <input type="hidden" name="expos_detail_id" value="{:input('expos_detail_id')}">
            <input type="text" name="title" autocomplete="off" placeholder=""
                   value="{:isset($expoitem.title)?$expoitem.title:''}"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">image</label>
        <input type="file" name="file" id="image_upload" class="layui-upload-file" lay-title="图片">
        <input type="hidden" name="image" id="image_input" value="{:isset($expoitem.image)?$expoitem.image:''}">

        <div id="image_div" style="margin:10px 0 10px 110px;">

        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">abstract</label>

        <div class="layui-input-block">
            <input type="text" name="abstract" autocomplete="off" placeholder=""
                   value="{:isset($expoitem.abstract)?$expoitem.abstract:''}"
                   class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" name="submit" value="1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>

<script>
    layui.use('upload', function () {
        layui.upload({
            url: '/admin/tool/upload' //上传接口
            , elem: '#image_upload' //指定原始元素，默认直接查找class="layui-upload-file"
            , success: function (res) { //上传成功后的回调
                console.log(res);
                if (res.code == 0) {
                    var src = res.data.src;
                    success_handle(src);
                }
            }

        });
    });
    /**
     * 成功处理
     */
    function success_handle(src) {
        var i_div = $("<div>", {style: "float: left; position:relative;"});
        var image = $("<img>", {src: src, style: "width:150px; height:80px;margin-left: 12px;"});
        //删除按钮
        var del_btn = $("<a href='javascript:void(0);' onclick='del_img(this)' class='layui-icon' style='position:absolute; right: 2px; top: 2px;'>&#xe640;</a>");
        i_div.append(image).append(del_btn);
        $("#image_div").html(i_div);
        update_img_value("image_div", "image_input");
    }

    /**
     * 更新图片
     * @param id
     * @param input
     */
    function update_img_value(id, input) {
        var val = "";
        var img_gro = $("#" + id + " img");
        for (var i = 0; i < img_gro.length; i++) {
            val += $("#" + id + " img:eq(" + i + ")").attr("src");
        }
        $("#" + input).val(val);
    }
    //删除审核图片
    function del_img(e) {
        //console.log(111,$(e).html());
        var val = "";
        $(e).parent().prevAll("div").find("img:eq(0)").each(function () {
            //console.log($(this).attr("src"));
            val += $(this).attr("src") + ";";
        });
        $(e).parent().nextAll("div").find("img:eq(0)").each(function () {
            //console.log($(this).attr("src"));
            val += $(this).attr("src") + ";";
        });
        //console.log(val);
        $(e).parent().prevAll("input").val(val);
        $(e).parent().remove();
    }
    var src = "{:isset($expoitem.image)?$expoitem.image:''}";
    if (src) {
        success_handle(src);
    }
</script>