{include file="public/common" /}

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend> 展览 </legend>
</fieldset>

<form class="layui-form" action="">

    <div class="layui-form-item">
        <label class="layui-form-label">title</label>

        <div class="layui-input-block">
            <input type="hidden" name="id"
                   value="{:isset($expos.id)?$expos.id:''}" >
            <input type="text" name="title" autocomplete="off" placeholder=""
                   value="{:isset($expos.title)?$expos.title:''}"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">type</label>

        <div class="layui-input-block">
            <input type="text" disabled
                   value="{:input('type')?input('type'):$expos.type}"
                   class="layui-input" >
            <input type="hidden" name="type"
                   value="{:input('type')?input('type'):$expos.type}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">starttime</label>

        <div class="layui-input-block">
            <input type="text" name="starttime" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                   value="{:isset($expos.starttime)?$expos.starttime:''}" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">endtime</label>

        <div class="layui-input-block">
            <input type="text" name="endtime" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                   value="{:isset($expos.endtime)?$expos.endtime:''}" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">cost</label>

        <div class="layui-input-block">
            <input type="number" name="cost" autocomplete="off" placeholder=""
                   value="{:isset($expos.cost)?$expos.cost:''}"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">taglist</label>

        <div class="layui-input-block">
            <input type="text" name="taglist" autocomplete="off" placeholder=""
                   value="{:isset($expos.taglist)?$expos.taglist:''}"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">subject</label>

        <div class="layui-input-block">
            <input type="radio" name="subject"  title="平铺"
                   {if condition="isset($expos->subject) && $expos->subject=='rows'"} checked {/if}
                    value="rows"
                   class="layui-input">
            <input type="radio" name="subject"  title="竖列"
                   {if condition="isset($expos->subject) && $expos->subject=='cols'"} checked {/if}
                    value="cols"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">封面</label>

        <div class="layui-input-block">
            <div class="layui-form-item">
                <input type="file" name="file" id="image_upload" class="layui-upload-file"  >
                <input type="hidden" name="img_cover" id="image_input" value="{:isset($expos.img_cover)?$expos.img_cover:''}">

                <div id="image_div" style="margin:10px 0 10px 110px;">

                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">abstract</label>

        <div class="layui-input-block">
            <textarea class="layui-textarea layui-hide" name="abstract" id="content">{:isset($expos.abstract)?$expos.abstract:''}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn"  name="submit" value="1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>
<script>
    layui.use(['form', 'layedit', 'laydate','element'], function () {
        var form = layui.form()
                , layer = layui.layer
                , layedit = layui.layedit
                ,  element = layui.element
                , laydate = layui.laydate;
        layedit.set({
            uploadImage: {
                url: '/admin/tool/upload', //接口url
                type: 'post'//默认post
            }
        });
        //构建一个默认的编辑器
        index = layedit.build('content');
    });
    layui.use('upload', function () {
        layui.upload({
            url: '/admin/tool/upload' //上传接口
            , elem: '#image_upload' //指定原始元素，默认直接查找class="layui-upload-file"
            , success: function (res) { //上传成功后的回调
                console.log(res);
                if (res.code == 0) {
                    var src = res.data.src;
                    success_handle(src);
                }
            }

        });
    });
    var src = "{:isset($expos.img_cover)?$expos.img_cover:''}";
    if (src) {
        success_handle(src);
    }
</script>