 {include file="public/common" /}


 <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
     <legend>
         <a href="/admin/exposition/edit_expos_details?id={$expos_detail.expo_id}"> {$expos_detail.title} </a>
          </legend>
 </fieldset>


 <a href="javascript:model('/admin/exposition/edit_expos_item?expos_detail_id={$expos_detail.id}')" class="layui-btn layui-btn-small">新增</a>
 <table class="layui-table">
        <thead>
        <tr>
            <th >title</th>
            <th >image</th>
            <th >abstract</th>
            <th >handle</th>
        </tr>
        </thead>
        <tbody>
        {volist name="expos_items" id="item"}
		<tr class="">
            <th >{$item.title}</th>
            <th >  <img src="{$item.image}"  onerror="preview_load(this)" style="height: 80px;width:auto;"> </th>
            <th >{$item.abstract}</th>
            <td >
                <a href="javascript:model('/admin/exposition/edit_expos_item?expos_detail_id={$expos_detail.id}&id={$item.id}')" class="layui-btn layui-btn-small">编辑</a>
                <a href="javascript:if(confirm('确认删除')){location.href='/admin/exposition/edit_expos_item?expos_detail_id={$expos_detail.id}&delete=1&id={$item.id}'}"
                   class="layui-btn layui-btn-danger layui-btn-small">删除</a>
            </td>
        </tr>
        {/volist}
      
                </tbody>
    </table>
