{include file="public/common" /}


<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend> 编辑banner </legend>
</fieldset>



<form class="layui-form" method="post" action="">

    <div class="layui-form-item">
        <label class="layui-form-label">上传图片</label>
        <input type="hidden" name="id"   value="{:input('id')}">
        <input type="file" name="file" id="image_upload" class="layui-upload-file" lay-title="图片">

        <div id="image_div" style="margin:10px 0 10px 110px;">
        </div>
        <input type="hidden" name="image" id="image_input" value="{:isset($banner.image)?$banner.image:''}">
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">url</label>

        <div class="layui-input-block">
            <input type="text" name="url" autocomplete="off" placeholder="请输入标题"
                   value = "{:isset($banner.url)?$banner.url:''}"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">位置</label>
        <div class="layui-input-inline">
            <select name="cate_id"  >
            {volist name="banner_cate_list" id="banner_cate"}
            <option value="{$banner_cate.id}"
                {if condition="isset($banner->cate_id) && $banner_cate->id == $banner->cate_id"}selected{/if}>
                {$banner_cate.title}</option>
            {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="desc">{:isset($banner.desc)?$banner.desc:''}</textarea>
        </div>
    </div>



    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn"  name="submit" value="1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>

<script>
    layui.use('upload', function () {
        layui.upload({
            url: '/admin/tool/upload' //上传接口
            , elem: '#image_upload' //指定原始元素，默认直接查找class="layui-upload-file"
            , success: function (res) { //上传成功后的回调
                console.log(res);
                if (res.code == 0) {
                    var src =  res.data.src;
                    success_handle( src );
                }
            }

        });
    });

    var src = "{:isset($banner.image)?$banner.image:''}";
    if(src){
        success_handle(src);
    }
</script>