 {include file="public/common" /}


 <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
     <legend>
     <a href="/admin/exposition/{$type}"> {$type} </a>
     </legend>
 </fieldset>

 
 <!---不是审核页面--->
{if condition='$type != "examining"'}
 <a href="/admin/exposition/edit_expos?type={$type}" class="layui-btn layui-btn-small">新增</a>
 {/if}
 
 
 <table class="layui-table">
        <thead>
        <tr>
            <th >img_cover</th>
            <th >title</th>
            <th >type</th>
            <th >starttime</th>
            <th >endtime</th>
            <th >cost</th>
            <th >taglist</th>
            <th >subject</th>
            <!--<th >abstract</th>-->
            <th >handle</th>
        </tr>
        </thead>
        <tbody>
        {volist name="expos" id="exp"}
		<tr class="">
            <th ><img src="{$exp.img_cover}" width="100px"></th>
            <th >{$exp.title}</th>
            <th >{$exp.type}</th>
            <th >{$exp.starttime}</th>
            <th >{$exp.endtime}</th>
            <th >{$exp.cost}</th>
            <th >{$exp.taglist}</th>
            <th >{$exp.subject}</th>
            <!--<th >{$exp.abstract}</th>-->
            <td >
                {if condition="$exp.status"}
                <a href="/admin/exposition/edit_expos?id={$exp.id}" class="layui-btn layui-btn-small">编辑</a>
                <a href="javascript:model('/admin/exposition/preview?expos_id={$exp.id}')" class="layui-btn layui-btn-small layui-layer-btn-l">预览</a>
                <a href="/admin/exposition/edit_expos_details?id={$exp.id}" class="layui-btn layui-btn-small  layui-btn-warm ">管理图片</a>
                <a href="/admin/exposition/edit_expos?delete=1&id={$exp.id}" class="layui-btn layui-btn-danger layui-btn-small">删除</a>
                <a href="/admin/exposition/examine_expos?status=0&id={$exp.id}" class="layui-btn layui-btn-danger layui-btn-small">关闭展览</a>
                {else}
                <a href="/admin/exposition/edit_expos?id={$exp.id}" class="layui-btn layui-btn-small">编辑</a>
                <a href="/admin/exposition/edit_expos_details?id={$exp.id}" class="layui-btn layui-btn-small  layui-btn-warm ">管理图片</a>
                <a href="/admin/exposition/edit_expos?delete=1&id={$exp.id}" class="layui-btn layui-btn-danger layui-btn-small">删除</a>
                <a href="/admin/exposition/examine_expos?status=1&id={$exp.id}" class="layui-btn layui-btn-danger layui-btn-small">开启展览</a>
                {/if}
            </td>
        </tr>
        {/volist}
      
                </tbody>
    </table>