{include file="public/common" /}

<link rel="stylesheet" type="text/css" href="__CSS__/pgwsilder.css">

<script src="__JS__/pgwslider.js"></script>

<ul class="pgwSlideshow">
    {volist name="expos_items" id="item"}
    <li>
        <img src="{$item.image}" alt="{$item.title}" data-description="{$item.abstract}" onerror="preview_load(this)">
    </li>
    {/volist}
</ul>

<script type="text/javascript">
    $(document).ready(function() {
        $('.pgwSlideshow').pgwSlideshow({
            transitionEffect:'fading',
            autoSlide:true
        });
    });
</script>
