{include file="public/common" /}
<style>
    *{padding:0;margin:0}
    /*给大盒子添加样式*/
    #con{width:90%;margin:60px auto;border-radius:25px;box-shadow:5px 5px 10px #000;padding:20px;

        /*下面代码是兼容各个浏览器的，并实现了四列，没两列之间间距为30px，*/
        -moz-column-count:4;-moz-column-gap:30px;-moz-column-rule:0px solid #ff0000;   //火狐浏览器
    -webkit-column-count:4;-webkit-column-gap:30px;-webkit-column-rule:0px solid #ff0000;   //Google chrome
    -o-column-count:4;-o-column-gap:30px;-o-column-rule:0px solid #ff0000;   //Opera浏览器的
    }

    /*小盒子内容区的样式，display:inline-block：实现 效果*/
    #con .pic{width:180px; min-height:100px;box-shadow:2px 2px 6px #b5b5b5;padding:20px 15px;margin:10px;display:inline-block}

    #con h3{border-bottom:1px solid #ddd;line-height:30px;text-align:center;padding:5px 5px;}
    #con h3 a{text-decoration:none;color:#999;}
    #con  p{font-size:12px;color:#666;line-height:20px;white-space:nowrap;overflow:hidden;
        /*很多文字，一行显示不下，用省略号显示的代码*/
        text-overflow:ellipsis;-o-text-overflow:ellipsis;
        -moz-text-overflow: ellipsis; -webkit-text-overflow: ellipsis;  }

</style>

<div id="con">

    {volist name="expos_details" id="detail"}


    <div class="pic">

        <a href="/admin/exposition/preview?expos_detail_id={$detail.id}">

        <img src="{$detail.image}" onerror="preview_load(this)" width="188px">
        <h3>{$detail.title}</h3>
        </a>

    </div>
    {/volist}
</div>
